/* +++++++++++++++++++++++++++++++++++++++ */
/* GENERIC DEFINITIONS                     */
/* +++++++++++++++++++++++++++++++++++++++ */

body {
  background: #000;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  color: #666;
  font-size: 0.9em;
  text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira Semi Condensed', Helvetica, Arial, sans-serif;
}

p {
  color: #c8c8c8;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
}

footer div h4 {
  color: #00b3e3;
}


/* +++++++++++++++++++++++++++++++++++++++ */
/* CLASS DEFINITIONS                       */
/* +++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++ */
/* Section Wrappers */
/* ++++++++++++++++ */

.wrap {
  margin: 0 auto;
  max-width: 1280px;
}

/* ++++++++++++++++++ */
/* Header definitions */
/* ++++++++++++++++++ */
.header-logo-url {
  display: inline-block;
  padding: 10.5px 0 12.5px 10px;
}

.header-logo {
  display: inline-block;
  width: 171px;
  height: 48px;
  color: transparent;
  font-size: 0;
  max-width: 100%;
  vertical-align: top;
}

.header-left, .header-right {
  display: inline-block;
}

.header-left {
  width: 25%;
}

.header-right {
  text-align: right;
  width: 74%;
}

.header-list li {
  display: table-cell;
  line-height: 24px;
  list-style-type: none;
  width: 1%;
}

.header-list li:hover, .header-link a:hover {
  color: #00b3e3;
}

.header-link a {
  color: #666;
  text-decoration: none;
}

.search-input {
  border-style: none;
  font-size: 1em;
}

.search-button {
  background-color: transparent;
  border-style: none;
}

/* +++++++++++++++ */
/* Nav Definitions */
/* +++++++++++++++ */
.menu {
  background-color: #181a22;
}

.menu-list {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu-list li {
  display: table-cell;
  list-style-type: none;
  width: 1%;
}

.level0 > a {
  color: #fff;
  display: block;
  font-family: 'Saira Semi Condensed',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 17px .9vw 17px .8vw;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.menu-list li a:hover {
  color: #00b3e3;
}

.menu-list li a:active {
  color: #fff;
}

.sale {
  background-color: #ab242b;
  text-align: center;
}

.sale a:hover {
  color: #fff !important;
  opacity: 0.8;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Delivery options section (contains carousel - see defs below) */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.delivery-options {
  background-color: #edeef1;
  color: #444;
  margin-bottom: 0;
  padding: 4px;
}

/* ++++++++++++++++++ */
/* Hero image section */
/* ++++++++++++++++++ */
.hero {
  margin-top: -355px;
}

.hero-image {
  clip-path: polygon(0% 95%, 100% 79%, 100% 37%, 0% 37%);
  height: auto;
  width: 100%;
}

/* ++++++++++++++++++++ */
/* Cycle scheme section */
/* ++++++++++++++++++++ */
.scheme {
  margin-bottom: 2em;
}

.read-more {
  color: #00b3e3;
  text-decoration: none;
}

.read-more:hover {
  color: #00b3e3;
  font-weight: bolder;
  text-decoration: underline;
}

/* +++++++++++++++++++++++ */
/* Sample package sections */
/* +++++++++++++++++++++++ */
.example-package {
  position: relative;
  background: #000;
  overflow: hidden;
}

/* Used to set opacity on valley-light background image */
.example-package:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url(../images/valley-light-10o.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150% auto;
}

.cycle-right {
  position: relative;
  overflow: hidden;
}

/* Used to set opacity on example package images */
.cycle-right:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1;
  background-image: url(../images/ribble1_ai_sml.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.cycle-left {
  position: relative;
  overflow: hidden;
}

/* Used to set opacity on example package images */
.cycle-left:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1;
  background-image: url(../images/ribble2_ai_sml.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.example-pricing {
  display: inline-block;
  width: 58%
}

.price-table {
  width: 90%;
  height: 330px;
}

.price-table tbody tr td + td {
  text-align: right;
}

.price-table-right {
  float: right;
  margin-left: 10%
}

.table-right {
  float: right;
}

.saving {
  color: #00b3e3;
  font-weight: bolder;
}

.view-more {
  clear: both;
  text-align: center;
  margin: 25px 0;
  padding: 5px 25px;
  z-index: 20;
}

.view-more-btn {
  background-color: #00b3e3;
  color: #fff;
  clip-path: polygon(0 100%, 100% 100%, 100% 0%, 5% 0%);
  display: inline-block;
  font-family: 'Saira Semi Condensed', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  height: 35px;
  line-height: 35px;
  padding: 0 22.5px;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}

/* +++++++++++ */
/* FAQ section */
/* +++++++++++ */
.faqset {
  box-sizing: content-box;
  /*clear: both;*/
  text-align: center;
  margin-top: 3em;
}

.faq {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 15px 25px 15px;
  text-align: center;
  vertical-align: top;
  width: 49%;
}

.faq h3 {
  height: 2em;
}

.faq:last-of-type {
  width: 65%;
}

/* +++++++++++++++++++++ */
/* Email Sign-up section */
/* +++++++++++++++++++++ */
.newsletter {
  background-color: #181a22;
  padding: 10px 15px;
}

.email-form {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 59%;
}

.input-box {
  line-height: 20px;
  position: relative;
}

.email-input-label {
  display: inline-block;
  font-size: 12px;
  font-family: 'Saira Semi Condensed', Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding-top: 2px;
  line-height: 38px;
  text-align: center;
  vertical-align: top;
  width: 39%;
}

.input-text {
  background: rgba(0,0,0,0.3);
  border: 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 30% 0 12px;
  width: 100%;
}

.rc-button {
  background-color: #00b3e3;
  color: #fff;
  clip-path: polygon(0 100%, 100% 100%, 100% 0%, 7% 0%);
  display: inline-block;
  font-family: 'Saira Semi Condensed', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  margin: 8px;
  padding: 0 22.5px;
  text-align: center;
  text-decoration: none;
}

.rc-button-email {
  background-color: #00b3e3;
  border: none;
  border-radius: 2px;
  clip-path: polygon(3.5% 0%, 100% 0%, 100% 100%, 0% 100%);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Saira Semi Condensed', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  margin: 0;
  padding: 11px 40px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: -5px;
}

/* ++++++++++++++++++ */
/* Footer Definitions */
/* ++++++++++++++++++ */
.sitemap {
  margin: 10px;
  vertical-align: top;
  width: 15%;
}

.sitemap:first-of-type {
  width: 10%;
}

.sitemap:last-of-type {
  width: 20%;
}

.footer-logo {
  display: inline-block;
  height: 134px;
  margin: 1.33em auto 0 auto;
  width: 130px;
}

.footer-list {
  font-weight: lighter;
  padding: 0;
}

.footer-list li {
  list-style-type: none;
}

.feedback p {
  color: #fff;
  font-weight: lighter;
}

.footer-list li a {
  color: #fff;
  text-decoration: none;
}

.footer-list li a:hover {
  color: #fff;
  text-decoration: underline;
}

/* ++++++++++++++++++++++ */
/* Carousel Styling       */
/* ++++++++++++++++++++++ */
.buttons, .content {
  display: inline-block;
  vertical-align: top;
}

.carouselbox {
  font-size: 0.75em;
  height: 40px;
  margin: 0 auto;
  max-width: 320px;
  overflow: hidden;
  padding:0 20px;
  position: relative;
}

.content {
  margin: 0;
  padding: 0;
}

.content li {
  left:0;
  list-style: none;
  margin: 0;
  padding: 0;
  position:absolute;
  right:0;
  text-align: center;
  top:40%;
  width: 100%;
  z-index: 2;
}

.carouselbox button {
  border: none;
  cursor:pointer;
  left:0;
  position:absolute;
  top:15px;
  visibility: hidden;
  z-index:10;
}

button.prev {
  background-color: inherit;
  left: 3px;
  right: auto;
}

button.next {
  background-color: inherit;
  left: auto;
  right: 3px;
}

.active button {
  visibility: visible;
}

.offscreen {
  left: -2000px;
  position: absolute;
}

.active .buttons {
  padding: 5px 0;
  text-align: center;
}

.active li a {
  color: #384149;
  text-decoration: none;
}

.active li {
  pointer-events: none;
  opacity: 0;
  top: 100px;
  transform: scale(0);
  transition: 1s;
}

.active li.current {
  pointer-events: auto;
  opacity: 1;
  top: 30%;
  transform: scale(1);
  transition: 1s;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* End of carousel Styling                                            */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
